body{
    font-family: Arial,Calibri,sans-serif;
    margin: -1rem;
    background-color: lightgrey;
    overflow-x: hidden;
}

.menu{
    margin-top:1rem;
    margin-left:1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 50%;
    font-size: 1.8vw;
    height:110px;
    background-color: rgb(172,57,109);
}

.right_side{
    display:flex;
    flex: 0 0 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8vw;
}

.sort_menu{
    width:64px;
    height:auto;
    color: darkgrey;
    padding-right: 3rem;
    padding-left: 2rem;
}

.search_bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color: rgb(28,23,25);
    border-color: lightgrey;
    font-size: 1.8vw;
    color: white;
}

.search_settings{
    width: 32px;
    height: auto;
    padding-left: 2rem;
    padding-right: 3rem
}

.settings_menu{
    z-index: 2;
    background-color: rgb(172,57,109);
    border: 10px solid;
    border-color: lightgrey;
    width: 10vw;
    height: 140px;
    position: absolute;
    top: 110px;
    right: 0;
    text-align: center;
}

.sort_settings{
    display: flex;
    justify-content: center;
}

.sort_text{
    align-self: center;
    font-size: 0.85vw;
    color: black;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    padding: 0;
    margin: 0
}

.diff_search{
    display:flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.diff_search>input{
    vertical-align: middle;
}

.diff_search>span{
    font-size: 0.85vw;
    margin-left: -2px;
    vertical-align: middle;
}

.settings_menu>button{
    width: 50%;
    bottom: 5px
}

.beatmap{
    background-repeat: no-repeat; 
    background-size: cover;
    z-index: 1;
}

.beatmap>p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

div{
    display: flex;
    flex: 0 0 50%;
    justify-content: space-evenly;
    flex-direction: column;
    transition: ease 0.5s;
}


div>p{
    display:flex;
    justify-content: space-between;
    flex: 0 0 50%;
}

div>div{
    flex-direction: row;
}

p{
    font-size: 1.8vw;
    padding: 6rem;
    color: white;
    text-shadow: 1px 3px 1rem black;
    transition: ease 0.5s;
}